{include file="common:header" /}
<div class="content-wrapper" style="min-height: 1109.27px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            联系我们
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">联系我们</a></li>
        </ol>
    </section>

    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4>深圳市创鑫互联通信技术有限公司</h4>
        </div>
    </div>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-angle-double-right"></i> 简介
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-12 invoice-col">
                <br>
                深圳市创鑫互联通信技术有限公司简称创鑫互联，</br></br>
                成立于2016年12月，自创立之初，公司顺应医改大方向，抓住医疗核心诊治业务，自内而外为大中型医院及医疗机构提供互联网+医疗一体化解决方案，打造智慧医院生态闭环，是互联网+医疗领域中最具成长性的高新技术企业。</br></br>
                团队由多名医学博士引领，深度洞悉医疗行业特点，在临床需求、医疗数据、软件开发、系统运营等医疗健康服务领域，积累了全国最领先的技术实施、运营管理服务经验和能力，具备雄厚实力和竞争优势。</br></br>
                公司在区域医疗信息平台、区域集中式挂号平台、区域集中式诊疗付费平台、医院移动医疗服务平台、移动全流程医疗服务平台等方面有着丰富的经验；熟悉医院预约挂号、挂号、分诊、候诊、付费、治疗等业务的流程，了解医院内部的服务流程及工作机制。</br></br>
                公司是微信支付和支付宝的全国战略合作伙伴，是腾讯智慧医疗合作伙伴计划、支付宝未来医院计划核心成员之一。与建设银行、招商银行、平安银行、交通银行等多家银行建立了稳定的战略合作关系。</br></br>
                公司已上线并运营多家大型三级医院的移动智慧医院，服务患者上百万，行业名列前茅。公司目前正申请国家高新企业认定，拥有软件著作权8个、商标权4个。</br></br>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-angle-double-right"></i>联系我们
                </h2>
            </div>
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>客户热线：</td>
                        <td>0755-26990800</td>
                    </tr>
                    <tr>
                        <td>地址：</td>
                        <td>深圳市南山区高新南七道20号R2-B栋609（高新技术园南区）</td>
                        <td>深圳市南山区科苑中路8号讯美科技广场1号楼6楼6108-A（高新技术园北区）</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
{include file="common:footer" /}