{include file="common:header" /}
<div class="content-wrapper" style="min-height: 1109.27px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            联系我们
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">联系我们</a></li>
        </ol>
    </section>

    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4>深圳市创鑫互联通信技术有限公司</h4>
        </div>
    </div>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> 开发技术团队
                    <small class="pull-right">Date: 2017/12/20</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                产品经理
                <address>
                    <strong>小明</strong><br>
                    电话: (804) 123-5432<br>
                    Email: info@almasaeedstudio.com
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                主要技术开发
                <address>
                    <strong>小明</strong><br>
                    电话: (555) 539-1037<br>
                    Email: john.doe@example.com
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                主要技术开发
                <address>
                    <strong>小明</strong><br>
                    电话: (555) 539-1037<br>
                    Email: john.doe@example.com
                </address>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row">
            参与设计人员
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>职责</th>
                        <th>电话</th>
                        <th>邮箱</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>小明</td>
                        <td>UI工程师</td>
                        <td>455-981-221</td>
                        <td>john.doe@example.com</td>
                    </tr>
                    <tr>
                        <td>小明</td>
                        <td>前台界面设计</td>
                        <td>455-981-221</td>
                        <td>john.doe@example.com</td>
                    </tr>
                    <tr>
                        <td>小明</td>
                        <td>后台数据接口设计</td>
                        <td>455-981-221</td>
                        <td>john.doe@example.com</td>
                    </tr>
                    <tr>
                        <td>小明</td>
                        <td>数据库设计</td>
                        <td>455-981-221</td>
                        <td>john.doe@example.com</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
{include file="common:footer" /}