{include file="common:header" /}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            科室结构
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">首页</li>
        </ol>
    </section>
    <div class="pad margin no-print">
        <div class="callout callout-danger" style="margin-bottom: 0!important;">
            <h4>直接点击科室，即可进入科室管理</h4>
        </div>
    </div>
    <style>
        .trees li {
            list-style-type: none;
            margin: 0;
            padding: 10px 5px 0 5px;
            position: relative
        }

        .trees li::before, .trees li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto
        }

        .trees li::before {
            border-left: 1px solid #999;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px
        }

        .trees li::after {
            border-top: 1px solid #999;
            height: 20px;
            top: 25px;
            width: 25px
        }

        .trees li span {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 1px solid #999;
            border-radius: 5px;
            display: inline-block;
            padding: 3px 8px;
            text-decoration: none
        }

        .trees li.parent_li > span {
            cursor: pointer
        }

        .trees > ul > li::before, .tree > ul > li::after {
            border: 0
        }

        .trees li:last-child::before {
            height: 30px
        }

        .trees li.parent_li > span:hover, .trees li.parent_li > span:hover + ul li span {
            background: #eee;
            border: 1px solid #94a0b4;
            color: #000
        }
    </style>
    <!-- Main content -->
    <section class="content">
        <!--图标样式-->
        <link rel="stylesheet" type="text/css" href="__STATIC__/jquerytree/css/bootstrap.min.css"/>
        <!--主要样式-->
        <script type="text/javascript" src="__STATIC__/jquerytree/js/jquery-1.7.2.min.js"></script>
        <!--<script type="text/javascript">-->
            <!--$(function () {-->
                <!--$('.trees li:has(ul)').addClass('parent_li').find(' > span');-->

<!--//                var childrens = $('.trees li.parent_li > span').parent('li.parent_li').find(' > ul > li');-->
<!--//                childrens.hide('fast');-->
<!--//                $('.trees li.parent_li > span').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');-->

                <!--$('.trees li.parent_li > span').on('click', function (e) {-->
                    <!--var children = $(this).parent('li.parent_li').find(' > ul > li');-->
                    <!--if (children.is(":visible")) {-->
                        <!--children.hide('fast');-->
                        <!--$(this).find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');-->
                    <!--} else {-->
                        <!--children.show('fast');-->
                        <!--$(this).find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');-->
                    <!--}-->
                    <!--e.stopPropagation();-->
                <!--});-->
            <!--});-->
        <!--</script>-->
        <div class="trees well">
            <ul>
                {volist name='keshi' id='vos' }
                <li onclick="ons()">
                    <span><i class="icon-folder-open"></i>{$vos['ks_name']}</span>
                    {notempty name='$zkeshi'}
                    {foreach name='zkeshi' key='key' item='vo' }
                    {if $vos['ks_id']==$vo['ks_pid']}
                    <ul>
                        <li onclick="ons()"><span><i class="icon-leaf"></i>{$vo['ks_name']}</span>
                        </li>
                        {notempty name='$szkeshi'}
                        {volist name='$szkeshi' id='avo' }
                        {if $vo['ks_id']==$avo['ks_pid']}
                        <ul>
                            <li onclick="ons()"><span><i class="icon-leaf"></i>{$avo['ks_name']}</span>
                            </li>
                        </ul>
                        {/if}
                        {/volist}
                        {/notempty}
                    </ul>
                    {/if}
                    {/foreach}
                    {/notempty}
                </li>
                {/volist}
            </ul>
        </div>
    </section>
    <!-- /.content -->
</div>
<script>
    function ons(){
        window.location="{:url('index/index/keshiguanli')}";
    }
</script>
{include file="common:footer" /}