{include file="common:header" /}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            加班登记
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">加班登记</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-body">
                        <form id="form1" class="form-horizontal bv-form" autocomplete="off" onsubmit="return false" action="#" method="post">
                            <div class="col-xs-12">
                                <div class="form-group has-feedback">
                                    <label class="col-xs-3 control-label">开始时间(仅限单日单次)</label>
                                    <div class="input-group col-xs-7" style="padding-left: 15px; padding-right: 15px;">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input required="required" autocomplete="off"
                                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})"
                                               placeholder="请填写开始时间" name="startdata" id="startDate"
                                               data-flag="datepicker" class="form-control"
                                                type="text">
                                    </div>
                                </div>
                                <div class="form-group has-feedback has-success">
                                    <label class="col-xs-3 control-label">结束时间(仅限单日单次)</label>
                                    <div class="input-group col-xs-7" style="padding-left: 15px; padding-right: 15px;">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input required="required"  autocomplete="off"
                                               onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'})"
                                               placeholder="请填写结束时间" name="enddata" id="endDate"
                                               class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">加班备注</label>
                                    <div class="col-xs-7">
                                        <textarea required="required" class="form-control" id="motivation" name="reason"
                                                  placeholder="加班备注"></textarea>
                                    </div>
                                </div>
                                <input type="hidden" name="jiastatus" value="加班申请">
                                <input type="hidden" name="nameid" value="{:session('admin.id')}">
                                <input type="hidden" name="jia_st" value="1">
                                <input type="hidden" name="jia_guochen" value="申请人提交</br>">
                            </div>
                            <div class="col-xs-12 text-center" style="border-top: 1px solid #ddd;padding-top: 10px;">
                                <button onclick="sub()" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;提交
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<script>
    function show() {
        window.location = "{:url('index/personal/shenpi')}";
    }
    function sub() {
        if(!$("#startDate").val()||!$("#endDate").val()||!$("#motivation").val()){
            return;
        }
        modals.confirm('确认提交申请？', function () {
//            modals.correct('申请已提交，请等待审核');
            $.ajax({
                //几个参数需要注意一下
                type: "post",
                url: "{:url('index/personal/qingxiu')}",
                dataType: 'text',
                data: $('#form1').serialize(),
                success: function (sd) {
                    if (sd == '1') {
                        modals.correct('申请成功，即将跳转请假列表。。。');
                        setInterval("show()", 2000);
                    } else {
                        modals.error("未知原因，申请失败！");
                    }
                },
                error: function (e, s) {
                    modals.error("错误");
                }
            });
        });
    }
</script>
<!-- /.content-wrapper -->
{include file="common:footer" /}