{include file="common:header" /}
<div class="content-wrapper" style="min-height: 1109.27px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            退休统计
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">退休统计</a></li>
        </ol>
    </section>

    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4>编号：HOOJ866GYGVF</h4>
            <h4>姓名：李楠</h4>
            <h4>所属科室：检验科</h4>
        </div>
    </div>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    个人简介
                    <small class="pull-right">入职年份 2007/12/20 --- 离职年份 2017/8/2</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-12 invoice-col">
                职位：<strong>检验科主任</strong><br><br>
                <address>
                    联系方式:56123-5432<br><br>
                    Email: info@liebao.com
                </address>
            </div>
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    晋升统计
                </h2>
            </div>
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>时间</th>
                        <th>原职称</th>
                        <th>晋升后职称</th>
                        <th>查看证明</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2008/03/15</td>
                        <td>检验科实习生</td>
                        <td>检验科正式正式员工</td>
                        <td><span class="label label-success">查看</span></td>
                    </tr>
                    <tr>
                        <td>2008/09/24</td>
                        <td>检验科正式正式员工</td>
                        <td>检验科正式编制人员</td>
                        <td><span class="label label-success">查看</span></td>
                    </tr>
                    <tr>
                        <td>2010/05/28</td>
                        <td>检验科正式编制人员</td>
                        <td>检验科科长</td>
                        <td><span class="label label-success">查看</span></td>
                    </tr>
                    <tr>
                        <td>2012/09/12</td>
                        <td>检验科科长</td>
                        <td>检验科主任</td>
                        <td><span class="label label-success">查看</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    社会基金缴纳金额
                </h2>
            </div>
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>年份</th>
                        <th>养老险</th>
                        <th>失业险</th>
                        <th>医疗险</th>
                        <th>房基金</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>2008</td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                    </tr>
                    <tr>
                        <td>2009</td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                    </tr>
                    <tr>
                        <td>2010</td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                    </tr>
                    <tr>
                        <td>2011</td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                    </tr>
                    <tr>
                        <td>2012</td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                    </tr>
                    <tr>
                        <td>2013</td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                    </tr>
                    <tr>
                        <td>2014</td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                    </tr>
                    <tr>
                        <td>2015</td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                    </tr>
                    <tr>
                        <td>2016</td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                    </tr>
                    <tr>
                        <td>2017</td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                        <td><?php echo(rand(10000,50000)); ?></td>
                    </tr>
                    <tr>
                        <th>总计</th>
                        <th>124572</th>
                        <th>235478</th>
                        <th>356845</th>
                        <th>698447</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
{include file="common:footer" /}