{include file="common:header" /}
<div class="content-wrapper" style="min-height: 1109.27px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            合同事项
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">合同事项</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <small class="pull-right" style="float: left;">
                        <h4 style="text-align: center">合同签订与履行的管理</h4>
                        <br><br>
                        我院所有对外合同必须依据《中华人民共和国合同法》及国家相关法律、法规和政策，并遵照我院的有关规定进行签订，确保我院的合法权益。
                        <br><br>
                        各职能部门对所管理的合同的真实性、合法性、合理性负责，并在合同签订过程中履行以下职责：
                        <br><br>一、负责审查合同他方的主体资格及资信状况。具体包括：
                        <br><br>
                        （一）从事合同项目的资质证明等；
                        <br><br>
                        （二）合同他方的法人代表身份或法人代表授权委托书；
                        <br><br>
                        （三）必要时要求合同他方提供主要的财务报表以及其从事相关业务的业绩证明材料。
                        <br><br>
                        二、负责起草或审核合同草案，组织相关人员与合同他方进行合同谈判，重大合作项目（指合同金额在5万人民币以上或合同期限在3年以上的合作项目）须按我院要求组成项目小组，对合同条款进行把关；
                        <br><br>
                        三、负责对合同基本条款的完备情况进行审查。一般包括合同他方当事人的名称或姓名、注册地址或住址、合同标的、数量、质量、价款或酬金、合同期限、履约地点和方式、合同变更和解除、违约和违约责任以及合同的仲裁和诉讼等；
                        <br><br>
                        四、负责或协助处理合同纠纷；
                        <br><br>
                        五、负责签订补充合同或变更合同
                        <br><br>
                        合同初稿由职能部门起草后，经各相关部门会签、定稿，必要时征询法律顾问意见。定稿后的合同，由主管领导审批并组织签订，重大合作项目（指合同金额在5万人民币以上或合同期限在3年以上的合作项目）须经项目小组讨论决定。各类合同的补充及变更照此程序办理。
                        <br><br>
                        非法定代表人签订的合同须持有法定代表人授权签署的《授权书》。未经我院法定代表人授权，我院任何科室或个人不得擅自代表我院签订任何合同。
                        <br><br>
                        对外合同一经签订，主管部门负责跟踪落实合同的执行情况，并监督合同他方履行合同义务，及时向分管院领导报告异常情况，确保合同条款的履行。重大合作项目须每年检查合同落实情况并将书面总结呈交分管院领导
                        <br><br>
                        <h4 style="text-align: center">合同检查及责任追究</h4>
                        <br><br>
                        我院成立由纪检、财务等部门组成的合同监督、检查工作小组。院办负责牵头与组织协调，采取定期检查与随机抽查相结合，对我院各部门所管理的合同执行情况进行检查监督，对违反本办法的部门和科室进行责任追究。
                        <br><br>
                        未按本办法规定报批、审核、备案，擅自对外签订合同给我院造成经济损失或不良影响的，负责签订合同的人员须承担相应的经济和法律责任。
                        <br><br>
                        科室或个人在合同签订或执行过程中玩忽职守、循私舞弊、索要财物或收受贿赂，我院视情节严重按照有关规定进行责任追究和处理；构成犯罪的，移交司法机关处理。
                        <br><br>
                        <h4 style="text-align: center">附 则</h4>
                        <br><br>
                        合作协议、合同条款必须符合国家的法律法规，如相抵触，一律以法规为准。
                        <br><br>
                        本办法由院长办公室负责解释。
                    </small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
{include file="common:footer" /}