{include file="common:header" /}
<div class="content-wrapper" style="min-height: 1109.27px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            年度考核
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">年度考核</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <small class="pull-right" style="float: left;">
                        <h4 style="text-align: center">医院年度考核实施方案</h4>
                        <br><br>
                        根据有关事业单位年度考核办法，为不断深化我院的人事制度改革,
                        <br><br>按照人事局、卫生局年度考核的文件要求及指导意见精神，借鉴、学习兄弟医院的年度考核方法，摸索以量化为主、定型为辅的年度考核经验，结合我院实际，经院研究，特制定我院年度考核实施方案。
                        <br><br>
                        一. 为确保年度考核工作顺利进行，成立考核工作领导小组：
                        <br><br>组长：院长：崔荣、 党委书记：曹 浩
                        <br><br>副组长：文明 副院长：崔金英
                        <br><br>纪委书记：王桂英、 工会主席：王永伟
                        <br><br>党委组织助理员：宫淑琴 人事主任：杨春新 办公室主任：靳虹 财务室主任：冀亚敏
                        <br><br>医教室主任：薄建华、 护理部主任：王淑菊、 总务室主任：王万权、采购部主任：于忠孝
                        <br><br>预防保健科主任：张生平 职工代表：陈 勇 石运生 院设考核办公室，考核办公室主任：王永伟（工会主席兼）
                        <br><br>副主任：王志成，组员：吴世玉，闫英，张晓红，刘春霞。
                        <br><br>
                        具体负责量化考核的组织、指导、协调等工作。
                        <br><br>
                        考核小组下设五个系列考核小组：
                        <br><br>1.党群人员考核组：组长为党委书记，副组长纪委书记，负责对院党群人员的考核。
                        <br><br>2.医疗、医技（药剂）人员考核组，责权部门为医教室，组长：主管院长，副组长，医教室主任。成员：各专业科室主任；
                        <br><br>3.护理人员考核组，责权部门为护理部，组长：主管院长，副组长，护理部主任。成员：各科护士长；
                        <br><br>4.行政、工勤人员考核组，责权部门为人事室，组长：主管院长，副组长，人事室主任。成员：各行政科室主任；
                        <br><br>5.沿线人员考核组，责权部门为预防保健科，组长：主管院长，副组长，预防保健科主任。成员：分院长、各卫生所长。 分管领导负责本系列的考核领导工作，对本系列的考核工作负全权责任。
                        <br><br>（一）.考核领导小组办公室职责（以下兼称考核办）：
                        <br><br>1.在院考核领导小组组长的领导下，按照市人事局、卫生局有关年度考核文件精神，结合医院实际，制定本院量化考核工作实施方案，负责制定并不断完善全院中层干部《平时量化考核细则》，按照《细则》内容、标准，组织实施对全院中层干部进行量化考核以及每年度未对中层干部综合测评考核的汇总等工作。
                        <br><br>2.负责督促各系列并根据医疗事业发展变化的需要，制定并不断完善各级各类人员《平时量化考核细则》，以及指导各系列考核小组考核工作
                        <br><br>3.监督检查各系列、各科室的考核组织工作是否按照医院制定的考核方案进行；是否客观公正。 4.负责各系列人员对考核结果不满意的答复，以及对全院各级
                        各类人员考核结果的统计、汇总、公示和相关待遇兑现等工作。
                        <br><br>（二）.系列考核小组职责：
                        <br><br>1.在考核办公室的指导下，负责根据本系列各级各类人员岗位职责、要求和医院发展的需要，制定并不断完善本系列各级各类人员《平时量化考核细则》，按照《细则》内容、标准，对所属各系列各类人员进行考核。同时负责每年度未对本系列所属人员综合测评考核的组织实施、汇总等工作。
                        <br><br>2.负责指导、 监督各科室认真记录本系列所属人员平时量化考核的基础资料，并按照医院制定的有关考核要求进行考核。
                        <br><br>3.负责将各系列的所属人员的考核情况进行总结、汇总将相关材料上报院考核领导小组办公室。
                        <br><br> 推行量化考核步骤：
                        <br><br>（一）. 宣传动员阶段（ 年 月 日— 月 日） 由于我院移交
                        政府管理时间较短，各项工作要逐步按市人事局、卫生局的文件要求进行，年度考核工作是一项较复杂、工作量大的日常工作，建立以量化为主、定型为辅的年度考核工作，是加强医院管理、开发各类人才资源、促进医院全面可持续发展的基础性工作，也是推行全员聘用制的基础。要通过全院各层次会议，广泛宣传实施量化考核的重要意义，进一步增强
                        广大干部职工的参与意识，确保各项量化考核工作顺利
                        <br><br>（二）.考核方案制定阶段：（ 年 月 日— 月 日）  根据市人事局、卫生局有关年度考核指导意见精神，院考核领导
                    </small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
{include file="common:footer" /}