{include file="common:header" /}
<div class="content-wrapper" style="min-height: 1109.27px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            系数晋升
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">系数晋升</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <small class="pull-right" style="float: left;">
                        <h4 style="text-align: center">医院科室系数评价实施办法</h4>
                        <br><br>&nbsp;&nbsp;&nbsp;&nbsp;薪酬分配是医院人力资源管理中的热点和难点问题。
                        景惠在长期的人力资源管理咨询中，经常会做员工关注热点问题的调查，在几十家医院的调查中，员工最关注的前三个问题是：薪酬待遇、职称晋升和个人发展空间。因此，建立一套科学、适用、让员工感觉到公平并能认可的绩效和薪酬分配体系，对于调动员工的工作积极性具有非常重要的作用。
                        <br><br>长期以来，医院通过全成本核算来确定各科室的收支节余，然后再按各科室收支节余的一定比例提取绩效工资（奖金）。
                        <br><br>但国家制定医疗服务收费价格时并未遵循市场价值的原理，有许多项目含有的“人为因素”比较多，单纯依靠业务收入和收支节余并不能准确反映医务人员的价值贡献。
                        <br><br>同时，医疗工作是协作性非常强的工作，一个治疗项目的完成需要医院各部门、各科室、各专业、各岗位人员的高度协调与配合，在分配中必须综合考虑工作量、业务量、成本支出、技术含量以及风险责任等因素。因此，景惠在薪酬分配中引入了科室系数的概念，并建立系数的评价方法，通过系数来确定科室在整个医院经营管理当中的价值贡献。
                        <br><br>一．医院科室系数评价的定义和应用
                        <br><br>科室系数评价是指在对医院组织结构进行全面分析、整理并重新设计的基础上，
                        <br><br>清晰界定各科室的分工与协作、职责与权限后，采用统一的评价标准，通过对科室的工作风险、工作负荷、业务驱动、经济贡献、工作标准、战略价值等科室特征进行评价，以认定科室在医院整体组织结构中的相对价值，
                        <br><br>据此确定科室系数，并结合岗位系数综合应用，平衡医院内部公平性，为建立公平合理的工资和奖励制度提供科学的依据。
                        <br><br>科室系数评出后，可广泛应用在医院的专业技术职务聘任、职务补贴以及员工薪酬分配等多个方面。
                        <br><br>1．在专业技术聘任中的应用医院在实施专业技术职务聘任中，往往会按照定岗定编方案所设置的人员职数进行配置，但各科室的风险、工作负荷以及所产生的社会效益、经济效益是完全不同的，如果人员总量和高、中、初级职位配置全部按规定的比例，一些工作量大，技术难度高，社会影响力强的科室就会感觉到不公平，此时，引入系数就可以比较好的解决这个问题。如系数排名前三位的科室，员工总数在定编的基础上，可增强10%，高级职称职数可提高10%等。
                        <br><br>2．在科室主任职务补贴方面的应用 有些医院在发放科室主任职务补贴的时候，不论科室规模大小、业务量多少，经济效
                        益如何，统统是一个标准，这对于医院的一些重点学科，或工作负荷比较重的科室主任来说就有失公平。有了系数之后，就可以比较好的解决这个问题，比如系数是1.00至1.30的为D档，1.30（不含1.30）至1.60为C档，1.60（不含1.60）至1.80为B档，1.80（不含1.80）以上的为A档，其职务补贴可以依次是300元、500元、700元和900元。
                        <br><br>3．在绩效工资分配中的应用
                        <br><br>各医院的绩效工资分配都是与工作量、收支节余等业绩指标相挂钩的，有的医院甚至是按节余的一定比例提取绩效工资的，有的是按工作量奖励的，但不同科室所奖励的单位数额是一样的，这样就没有体现该科室的风险性和在医院整个业务中的价值和地位。有了科室系数以后，可以平衡这种差异。比如，在未评价科室系数前，肝胆外科和网络中心的人均绩效工资都1000元，有了科室系数后，就可以用以下方法计算：
                        <br><br>A科室的绩效工资=全院应发放绩效工资总额/（A科室人均绩效工资×本科室系数+B科室人均绩效工资×本科室系数+C科室人均绩效工资×本科室系数+„„）×（A科室人均绩效工资×本科室系数）,这样算出来的绩效工资,就产生了差异,拉开了差距。
                        二、医院科室系数评价所遵循的原则
                        科室系数评价是一项技术性强、涉及面广、工作量大的工作，为保证科室系数评价工作的顺利开展，提高评价的科学性、合理性和可靠性，并获得大多数职工的认同，医院在实施科室系数评价的过程中将遵循以下几个原则：
                        <br><br>（一）现实性原则
                        科室系数评价必须从医院实际出发，并且是针对现有情况的。科室系数反映的是在医院发展现阶段，各科室处在医院现有组织结构中的相对价值。它是由特定的时间和空间限制的。例如某科室现在正在准备申报省级重点科室，但还没有申报成功，那么就应该以现在实际情况，即非省级重点科室作为评价的事实依据，等申报成功后再根据需要进行系数的调整或再评价。
                        <br><br>（二）过程参与原则 科室系数评价工作涉及到医院内部所有科室，让具有广泛代表性的职工参与到科室系数评价工作中来，并根据有利于增强科室系数评价结果的合理性。
                        <br><br>（三）标准化原则
                        为了保证评价工作的规范化和评价结果的可比性，衡量科室贡献和价值的标准、评价技术方法、程序等应形成统一规定，实施评价成员在规定范围内，依据共同的准则与方法进行，确保评价质量，提高评价的科学性与工作效率。
                        <br><br>（四）独立性原则 参加对科室进行评价的成员必须独立地对各个科室进行评价。
                        <br><br> （五）结果公开的原则 科室系数评价结果将向全院职工公开，透明化的科室系数评价标准和评价程序、评价结果有利于职工对医院的科室贡献的取向达成理解和认同。
                        <br><br>二．科室系数评价实施的前期准备工作
                        <br><br>（一）
                        梳理组织结构，明确科室职责，制作评分表。
                        通过部门职责梳理和工作分析，做好医院组织机构设计和调整，特别是对行政后勤部门的职责范围要清楚界定，对科室内设的二级室、组等要划分清晰，体现职责的专门化和部门化分工。
                        评分表中罗列的的所有需要参与评价的科室名称要规范并且没有遗漏，评分表拟定后需交由医院领导或人力资源部相关负责人审定，确定无误后方可用于打印使用。
                        <br><br>（二）各科室负责人准备科室介绍资料
                        各科室负责人做好本科室职责范围、上年度主要工作业绩（工作量、工作增长情况、创新点）、科室发展规划等的的介绍资料准备工作（可根据科室系数评价因素对科室情况进行全面具体的描述）。
                    </small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
{include file="common:footer" /}