{include file="common:header" /}
<div class="content-wrapper" style="min-height: 1109.27px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            医德医风考核标准
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">医德医风考核标准</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <small class="pull-right" style="float: left;">
                        <h4 style="text-align: center">医德医风考核标准</h4>
                        <br> <br>
                        根据《医德医风考评实施办法》制定此标准。
                        <br> <br>
                        一、考评范围 医德考评的对象是本院工作的医师、护士及其他卫生专业技术人员。行政、工勤人员参照此标准进行考核。
                        <br> <br>
                        二、考评的内容及标准
                        <br> <br>
                        （一）基础内容
                        <br> <br>
                        l、救死扶伤，全心全意为人民服务
                        <br> <br>
                        2、文明礼貌，优质服务，构建和谐医患关系
                        <br> <br>
                        3、尊重患者的权利，为患者保守医疗秘密
                        对患者不分民族、性别、职业、地位、贫富都平等对待，不得歧视。做到“四个一样”（生人熟人一样，群众干部一样，院外院内一样，乡村城市一样)。维护患者的合法权益，尊重患者的知情权、选择权和隐私权，为患者保守医疗秘密。在开展临床药物或医疗器械试验、应用新技术和有创诊疗活动中，遵守医学伦理道德，尊重患者的知情同意权。
                        <br> <br>
                        4、着装整齐，举止端庄，服务用语文明规范，服务态度好，无“生、冷、硬、顶、推、拖”现象。关心、体贴患者，做到“五心”（检查细心、治疗精心、解释耐心、听取意见虚心、让病人及家属放心)。认真践行医疗服务承诺，加强与患者的交流和沟通，自觉接受监督，构建和谐医患关系。
                        <br> <br>
                        5、加强政治理论和职业道德学习，树立救死扶伤、以病人为中心、全心全意为人民服务的宗旨意识和服务意识，大力弘扬白求恩精神。
                        <br> <br>
                        6、严格遵守卫生法律法规、卫生行政规章制度和医学伦理道德，严格执行各项医疗护理工作制度，坚持依法执业，廉洁行医，保证医疗质量和安全。
                        <br> <br>
                        7、在医疗服务活动中，不收受、不索要患者及其亲友的财物。
                        <br> <br>
                        8、不利用工作之便谋取私利，不收受药品、医用设备、医用耗材等生产、经营企业或经销人员给予的财物、回扣以及其他不正当利益，不以介绍患者到其他单位检查、治疗和购买药品、医疗器械等为由，从中牟取不正当利益。
                        <br> <br>
                        9、不开具虚假医学证明，不参与虚假医疗广告宣传和药品医疗器械促销，不隐匿、伪造或违反规定涂改、销毁医学文书及有关资料。
                        <br> <br>
                        10、不违反规定外出行医，不违反规定鉴定胎儿性别。
                        <br> <br>
                        11、加强工作责任心，热爱本职工作，坚守岗位，尽职尽责。
                        <br> <br>
                        12、加强政治理论和职业道德学习，树立救死扶伤、以病人为中心、全心全意为人民服务的宗旨意识和服务意识，弘扬白求恩精神，学习王生池感人事迹。增强工作责任心，热爱本职工作，坚守岗位，尽职尽责。
                        <br> <br>
                        （二）尊重患者的权利，为患者保守医疗秘密
                        <br> <br>
                        1.对患者不分民族、性别、职业、地位、贫富都平等对待，不得歧视。
                        <br> <br>
                        2.维护患者的合法权益，尊重患者的知情权、选择权和隐私权，为患者保守医疗秘密。
                        <br> <br>
                        3.开展临床药物或医疗器械试验、应用新技术和有创诊疗活动中，遵守医学伦理道德，尊重患者的知情同意权。
                        <br> <br>
                        （三）文明礼貌，优质服务，构建和谐医患关系
                        <br> <br>1.关心、体贴患者，做到热心、耐心、爱心、细心。
                        <br> <br>2.着装整齐，举止端庄，服务用语文明规范，服务态度好，无“生、冷、硬、顶、推、拖”现象。
                        <br> <br>3.履行医疗服务承诺，加强与患者的交流和沟通，自觉接受监督，构建和谐医患关系。
                        <br> <br>（四）严谨求实，努力提高专业技术水平
                        <br> <br>1.积极参加在职培训，刻苦钻研业务技术，努力学习新知识、新技术，提高专业技术水平。
                        <br> <br>2.强化责任意识，防范医疗差错、医疗事故的发生。
                    </small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
{include file="common:footer" /}