{include file="common:header" /}
<div class="content-wrapper" style="min-height: 1109.27px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            合同事项
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">合同事项</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <small class="pull-right" style="float: left;">
                    </small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
{include file="common:footer" /}