{include file="common:header" /}
<div class="content-wrapper" style="min-height: 1109.27px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            专业技术考核
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li><a href="#">专业技术考核</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <small class="pull-right">一、根据《事业单位人事管理条例》及深圳市事业单位岗位管理有关规定，结合我院实际，制定本办法。<br>
                        <br>
                        二、本办法适用于高、中级专业技术岗位聘用考核及竞聘上岗，初级专业技术职务聘用考核可参照执行。<br>
                        <br>
                        三、岗位设置<br>
                        <br>
                        高、中级专业技术岗位职数根据市人社局核准的岗位总量，结合我院各科室实际情况进行合理设置（护理岗位统一设置），经院长办公会同意后实施。<br>
                        <br>
                        四、岗位聘用程序<br>
                        <br>
                        1. 公布空岗数量、资格条件等相关信息；<br>
                        <br>
                        2. 符合条件人员填写聘用申请表，经所在科室评议推荐后报人事科；<br>
                        <br>
                        3. 资格审查；<br>
                        <br>
                        4. 组织考核（竞聘）；<br>
                        <br>
                        5. 考核结果（竞聘结果）报院长办公会集体讨论；<br>
                        <br>
                        6. 公示拟聘人员名单；<br>
                        <br>
                        7. 办理聘用手续。<br>
                        <br>
                        五、有下列情况之一者，不予聘任高一级专业技术职务<br>
                        <br>
                        1. 受党纪、政纪处分未满处分期；<br>
                        <br>
                        2. 经查实收受“红包”、回扣，自处理之日起三年内；<br>
                        <br>
                        3. 发生医疗事故未满三年或发生本人负主要责任赔偿20万以上（含20万，下同）医疗纠纷未满三年；<br>
                        <br>
                        4. 任期五年内（含当年，下同）年度病事假累计超过3个月或年度考核为基本合格或不合格等次，任期顺延，当年度不计为聘任年限；<br>
                        <br>
                        5. 医师、护士定期考核不合格；<br>
                        <br>
                        6. 住院医师规范化培训不合格或住院总医师任期考核不合格的，不予聘用主治医师职务；<br>
                        <br>
                        7. 在突发性事件及援藏等指令性工作中不服从组织调配的；<br>
                        <br>
                        8. 法律、法规及省、市规定的其它情形。<br>
                        <br>
                        六、有下列情况之一的，暂缓聘任高一级专业技术职务，考察期3~12个月。<br>
                        <br>
                        1. 任期三年内发生本人负有主要责任的5万以上、20万以下医疗纠纷或医疗差错。<br>
                        <br>
                        2. 任期三年内发生本人负有次要责任的10万元以上医疗纠纷。<br>
                        <br>
                        3. 任期三年内运行病历督查单年度2份以上不合格（＜90分）或抽查10份归档病历（每年两份），抽出丙级病历或两份不合格归档病历。<br>
                        <br>
                        4. 近两年内药品比例均超一个点以上或一年内超两个点。<br>
                        <br>
                        5. 近两年中单年度抗生素督查通报2次及以上。<br>
                        <br>
                        6. 近两年内被书面警诫2次及以上。<br>
                        <br>
                        7. 近两年内被服务对象投诉，经调查存在明显缺陷2次以上。<br>
                        <br>
                        8. 近两年内新农合次均费用、次均药费及单病种费用超标。<br>
                        <br>
                        七、考核项目及考核办法<br>
                        <br>
                        专业技术岗位聘用考核设公共项目得分（45分）、附加项目得分（10分）、能力业绩考核（55分），总分数低于60分不予聘用。<br>
                        <br>
                        （一）公共项目得分<br>
                        <br>
                        1. 学历：最高10分。博士10分；硕士8分；本科6分；专科4分；中专2分。（指国家承认的本专业学历）<br>
                        <br>
                        2. 取得专业技术职务资格时间：最高5分。每年0.5分，含考核当年及取得资格当年。<br>
                        <br>
                        3. 现任专业技术职务任职年限：最高10分。每年1分，含考核当年及聘用当年。<br>
                        <br>
                        4. 论文：最高6分。任期内在中华医学会系列杂志公开发表本专业论文6分/篇；统计源期刊4分/篇；CN期刊2分/篇。<br>
                        <br>
                        5. 科技成果：最高8分。任期内获省部级科技成果奖8分/项；市级成果奖一、二、三等奖分别8、6、4分/项；鉴定为科技成果加2分/项；第一完成人加全分，2、3、4完成人分别加60%、40%、30%，其余完成人加10%。<br>
                        <br>
                        6. 教学：最高6分。承担临床学院教学任务1分/年；完成院部或科室指定的教学活动（包括教学查房、集体备课以及院部或科内讲座等）每年1分。<br>
                        <br>
                        （二）附加项目得分<br>
                        <br>
                        1. 任期内参加援藏、援外工作的加5分/次，最高5分；<br>
                        <br>
                        2. 任期内参加政府指令性公共卫生等事件工作省级3分/次，市级1.5分/次，最高加5分。<br>
                        <br>
                        （三）专业技术工作能力及业绩考核55分。由业务主管科室制定具体考核、量化标准并进行评分，考核年度为任期五年内。<br>
                        <br>
                        八、本办法由人事科负责解释。<br>
                        <br>
                        九、本办法自下发之日起实行，人民医院专业技术职务聘任考核有关规定同时废止。<br></small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
{include file="common:footer" /}